<center>  <h1> Entity Activities</h1> </center> 

<% @activities.each do |activity| %>

 <div class="col-md-offset-2">
 <div class="activity">
 <div class = "row">
  <h5> <%= link_to activity.owner.first_name , activity.owner if activity.owner %> 
 	 <%= render_activity activity %></h5>
 	 </div>
</div>
</div>

<% end %>

<div class="container">
   <div class="row">
     <div class="col-md-3 col-md-offset-3">
       <h4> <%= will_paginate @entities %><h4>
     </div>
   </div>
 </div>